<div class="banner-container">
  <img
    class="banner-image"
    src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F489866319%2F310829312424%2F1%2Foriginal.20220812-174452?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=b216c2f175079bdd48036133d2bed5df"
  />
  <div class="banner-content-container">
    <p class="banner-heading">Your place to find events</p>

    <div class="banner-action-button-group">
      <button class="banner-action-button-primary">Find Events</button>
      <button class="banner-action-button-secondary">Organise Event</button>
    </div>
  </div>
</div>

<div class="event-card-row-container">
  <p>Heading</p>
  <div class="event-card-row">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
    ></app-event-card>
  </div>
</div>

<div class="event-card-row-container">
  <p>Heading</p>
  <div class="event-card-row">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
    ></app-event-card>
  </div>
</div>

<div class="event-card-row-container">
  <p>Heading</p>
  <div class="event-card-row">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
    ></app-event-card>
  </div>

  <div class="event-card-row">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
    ></app-event-card>
  </div>
</div>
