<!-- BASIC INFO -->
<!-- <p>Basic Info</p>
<p>
  Name your event and tell event-goers why they should come. Add details that
  highlight what makes it unique.
</p>
<p>Event title</p>
<input placeholder="title" />

<p>Organiser</p>
<input placeholder="organiser" />

<p>Type</p>
<select>
  <option>A</option>
  <option>B</option>
</select>

<p>Category</p>
<select>
  <option>A</option>
  <option>B</option>
</select> -->

<!-- <button>Venue</button>
<button>Online Event</button>
<p>Location</p>
<input name="address" placeholder="Address" />
<input name="postCode" placeholder="Post Code" />
<input name="town" placeholder="Town" />
<input name="region" placeholder="Region" />
<input name="country" placeholder="Country" /> -->

<!-- DATE -->
<p>Date and time</p>
<p>
  Tell event-goers when your event starts and ends so they can make plans to
  attend.
</p>
<button>Single Event</button>
<button>Recurring Event</button>
<p>Event Starts</p>
<input />
<p>Event Ends</p>
<input />
<p>Start Time</p>
<input />
<p>End Time</p>
<input />

<p>display start time</p>
<input type="checkbox" />

<p>display end time</p>
<input type="checkbox" />

<!-- 

 

<p>Headline</p>
<input placeholder="headline" />

<p>Image</p>
<input type="file" />

<p>Description</p>
<input placeholder="Description" />

 

<p>Price</p>
<input placeholder="Max Price" />
<input placeholder="Min Price" />

<p>Duration</p>

<p>Minimum Age</p>

<p>Spaces Total</p>

<p>Duration</p>

<p>Dates</p>

<p>Booking deadline date</p>

<p>Ticket type</p>
<select>
  <option>E-ticket</option>
  <option>Mobile e-ticket</option>
</select>

<p>Refund policy</p>
<select>
  <option>None</option>
  <option>1 day</option>
</select>

<button>Publish</button> -->
