<!-- BASIC INFO -->
<p>BASIC INFO</p>
<p>
  Name your event and tell event-goers why they should come. Add details that
  highlight what makes it unique.
</p>
<p>Event title</p>
<input
  type="text"
  [(ngModel)]="inputText"
  (input)="checkCharacterLimit()"
  (keydown)="limitCharacterInput($event)"
/>

<p>Character count: {{ inputText.length }} / {{ maxCharacterLimit }}</p>
<p>Type</p>
<select>
  <option *ngFor="let eventType of eventTypes">{{ eventType }}</option>
</select>

<p>Category</p>
<select>
  <option *ngFor="let eventCategory of eventCategories">
    {{ eventCategory }}
  </option>
</select>

<p>LOCATION</p>

<button>Venue</button>
<button>Online Event</button>
<p>Location</p>
<input placeholder="Venu Name" />

<!-- DATE -->
<p>DATE AND TIME</p>
<p>
  Tell event-goers when your event starts and ends so they can make plans to
  attend.
</p>
<button>Single Event</button>
<button>Recurring Event</button>
<p>Event Starts</p>
<input type="datetime-local" />
<p>Event Ends</p>
<input type="datetime-local" />
<p>Start Time</p>
<input />
<p>End Time</p>
<input />

<p>display start time</p>
<input type="checkbox" />

<p>display end time</p>
<input type="checkbox" />

<!-- 

 

<p>Headline</p>
<input placeholder="headline" />

<p>Image</p>
<input type="file" />

<p>Description</p>
<input placeholder="Description" />

 

<p>Price</p>
<input placeholder="Max Price" />
<input placeholder="Min Price" />

<p>Duration</p>

<p>Minimum Age</p>

<p>Spaces Total</p>

<p>Duration</p>

<p>Dates</p>

<p>Booking deadline date</p>

<p>Ticket type</p>
<select>
  <option>E-ticket</option>
  <option>Mobile e-ticket</option>
</select>

<p>Refund policy</p>
<select>
  <option>None</option>
  <option>1 day</option>
</select>

<button>Publish</button> -->
