<header class="header-container">
  <div class="header-left">
    <a class="logo" routerLink="/"> EventPass </a>
  </div>
  <div class="header-center">
    <div *ngFor="let headerLink of headerLinks">
      <a class="header-link" routerLink="{{ headerLink.href }}">{{
        headerLink.name
      }}</a>
    </div>
  </div>
  <div class="header-right">
    <button class="primary-button" routerLink="/auth/sign-up">Sign Up</button>
    <button class="primary-button" routerLink="/auth/login">Login</button>

    <fa-icon class="icon-link" [icon]="faBars"></fa-icon>
    <!-- <a routerLink="/profile">Profile</a> -->
  </div>
</header>
