<a *ngIf="event" routerLink="/events/{{ event.id }}">
  <div class="card-container">
    <div class="card-image-container">
      <img
        class="card-image"
        src="{{ event.image.url }}"
        alt="{{ event.image.alt }}"
      />
      <button class="favourite-button">
        <fa-icon class="social-icon" [icon]="faHeart"></fa-icon>
      </button>
    </div>

    <div class="card-content-container">
      <p class="card-title-text title">{{ event.name }}</p>
      <p class="card-text-sm bold">{{ transform(event.dateOfEvent) }}</p>
      <div>
        <p class="card-text-sm grey-text">Starts at £{{ event.price.total }}</p>
        <p class="card-text-sm grey-text">{{ event.location?.address }}</p>
      </div>
      <div>
        <p class="card-text-sm blue-text">{{ event.organisation?.name }}</p>
        <p class="card-text-sm blue-text">
          {{ event.organisation?.totalFollowers }} followers
        </p>
      </div>
    </div>
  </div>
</a>
