<header class="header-container">
  <div class="header-left-container">
    <div class="header-logo-container">
      <a class="header-logo-text" routerLink="/">
        {{ companyName }}
      </a>
    </div>
    <div class="header-link-group">
      <div *ngFor="let headerLink of headerLinks">
        <a class="header-link" routerLink="{{ headerLink.href }}">{{
          headerLink.name
        }}</a>
      </div>
    </div>
  </div>
  <div class="header-right-container">
    <div class="header-control-group">
      <button class="header-control-button" routerLink="/profile">
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <button class="header-control-button" routerLink="/profile">
        <fa-icon [icon]="faHeart"></fa-icon>
      </button>
      <button class="header-control-button" routerLink="/profile">
        <fa-icon [icon]="faTicket"></fa-icon>
      </button>
      <button class="header-control-button" routerLink="/profile">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
    </div>
    <!-- <button routerLink="/auth/sign-up">Sign Up</button>
    <button routerLink="/auth/login">Login</button> -->
  </div>
</header>
