<header class="header-container">
  <div class="header-left-container">
    <div class="header-logo-container">
      <a class="header-logo-text" routerLink="/">
        {{ companyName }}
      </a>
    </div>
    <div class="header-link-group">
      <div *ngFor="let headerLink of headerLinks">
        <a class="header-link" routerLink="{{ headerLink.href }}">{{
          headerLink.name
        }}</a>
      </div>
    </div>
  </div>
  <div class="header-right-container">
    <div *ngIf="signedIn" class="header-control-group">
      <div class="header-control-container">
        <button
          class="header-control-button"
          (mouseover)="handleMouseOver('notifications')"
          (mouseout)="handleMouseOut('notifications')"
          routerLink="/notifications"
        >
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
        <div
          class="header-control-name-container"
          *ngIf="controlNameActive === 'notifications'"
        >
          <p class="header-control-name-text">Notifications</p>
        </div>
      </div>

      <div class="header-control-container">
        <button
          class="header-control-button"
          (mouseover)="handleMouseOver('likes')"
          (mouseout)="handleMouseOut('likes')"
          routerLink="/likes"
        >
          <fa-icon [icon]="faHeart"></fa-icon>
        </button>
        <div
          class="header-control-name-container"
          *ngIf="controlNameActive === 'likes'"
        >
          <p class="header-control-name-text">Likes</p>
        </div>
      </div>

      <div class="header-control-container">
        <button
          class="header-control-button"
          (mouseover)="handleMouseOver('tickets')"
          (mouseout)="handleMouseOut('tickets')"
          routerLink="/my-tickets"
        >
          <fa-icon [icon]="faTicket"></fa-icon>
        </button>
        <div
          class="header-control-name-container"
          *ngIf="controlNameActive === 'tickets'"
        >
          <p class="header-control-name-text">Tickets</p>
        </div>
      </div>

      <div
        class="header-control-container"
        (mouseover)="openProfileMenu()"
        (mouseout)="closeProfileMenu()"
        routerLink="/profile"
      >
        <button class="header-control-button" routerLink="/profile">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
        <div
          *ngIf="profileMenu || isProfileMenuActive"
          class="header-control-profile-menu-container"
          (mouseover)="handleMouseOver('profileMenu')"
          (mouseout)="handleMouseOut('profileMenu')"
        >
          <button
            class="header-control-profile-menu-link-container"
            *ngFor="let profileMenuLink of profileMenuLinks"
          >
            <p class="header-control-profile-menu-link-text">
              {{ profileMenuLink.name }}
            </p>
          </button>
        </div>
      </div>
    </div>
    <div class="header-auth-button-group" *ngIf="!signedIn">
      <button class="header-auth-button" routerLink="/auth/sign-up">
        Sign Up
      </button>
      <button class="header-auth-button" routerLink="/auth/login">Login</button>
    </div>
  </div>
</header>
