<app-account-settings-layout>
  <p>Account Information</p>

  <p>Contact Information</p>
  <form class="primary-form-container">
    <p class="primary-form-input-title">Profile Photo</p>
    <input type="file" />

    <div class="primary-form-row">
      <label class="primary-form-input-container">
        <p class="primary-form-input-title">First Name</p>
        <input class="primary-form-input" />
      </label>
      <label class="primary-form-input-container">
        <p class="primary-form-input-title">Last Name</p>
        <input class="primary-form-input" />
      </label>
    </div>

    <div class="primary-form-row">
      <label class="primary-form-input-container">
        <p class="primary-form-input-title">Mobile Phone</p>
        <input class="primary-form-input" />
      </label>
      <label class="primary-form-input-container">
        <p class="primary-form-input-title">Home Phone</p>
        <input class="primary-form-input" />
      </label>
    </div>

    <div class="primary-form-row">
      <label class="primary-form-input-container">
        <p class="primary-form-input-title">Job Title</p>
        <input class="primary-form-input" />
      </label>
      <label class="primary-form-input-container">
        <p class="primary-form-input-title">Company</p>
        <input class="primary-form-input" />
      </label>
    </div>

    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Facebook Url</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Instagram Url</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Twitter Url</p>
      <input class="primary-form-input" />
    </label>

    <p>Home Address</p>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Address</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Address 2</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Town/City</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Country</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Post Code</p>
      <input class="primary-form-input" />
    </label>

    <p>Billing Address</p>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Address</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Address 2</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Town/City</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Country</p>
      <input class="primary-form-input" />
    </label>
    <label class="primary-form-input-container">
      <p class="primary-form-input-title">Post Code</p>
      <input class="primary-form-input" />
    </label>
  </form>
</app-account-settings-layout>
