<app-account-settings-layout>
  <p>Account Information</p>

  <p>Contact Information</p>
  <p>Profile Photo</p>
  <input type="file" />
  <label>
    <p>First Name</p>
    <input />
  </label>
  <label>
    <p>Last Name</p>
    <input />
  </label>
  <label>
    <p>Suffix</p>
    <input />
  </label>
  <label>
    <p>Home Phone</p>
    <input />
  </label>
  <label>
    <p>
      Mobile Phone
      <input /></p
  ></label>
  <label>
    <p>Job Title</p>
    <input />
  </label>
  <label>
    <p>Company Information</p>
    <input />
  </label>
  <label>
    <p>Facebooke</p>
    <input />
  </label>
  <label>
    <p>Instagram</p>
    <input />
  </label>
  <label>
    <p>Twitter</p>
    <input />
  </label>

  <p>Home Address</p>
  <label>
    <p>Address</p>
    <input />
  </label>
  <label>
    <p>Address 2</p>
    <input />
  </label>
  <label>
    <p>Town/City</p>
    <input />
  </label>
  <label>
    <p>Country</p>
    <input />
  </label>
  <label>
    <p>Post Code</p>
    <input />
  </label>

  <p>Billing Address</p>
  <label>
    <p>Address</p>
    <input />
  </label>
  <label>
    <p>Address 2</p>
    <input />
  </label>
  <label>
    <p>Town/City</p>
    <input />
  </label>
  <label>
    <p>Country</p>
    <input />
  </label>
  <label>
    <p>Post Code</p>
    <input />
  </label>
</app-account-settings-layout>
