<h2 class="headline-xl">Sign Up</h2>
<form class="form-container" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div>
    <!-- <label class="headline-xs" for="first-name">First Name</label> -->
    <input
      class="primary-input"
      id="first-name"
      type="text"
      formControlName="firstName"
      placeholder="First Name"
    />
  </div>
  <div>
    <!-- <label class="headline-xs" for="last-name">Last Name </label> -->
    <input
      class="primary-input"
      id="last-name"
      type="text"
      formControlName="lastName"
      placeholder="Last Name"
    />
  </div>
  <div>
    <!-- <label class="headline-xs" for="email-address">Email Address</label> -->
    <input
      class="primary-input"
      id="email-address"
      type="text"
      formControlName="emailAddress"
      placeholder="Email Address"
    />
  </div>
  <div>
    <!-- <label class="headline-xs" for="password">Password</label> -->
    <input
      class="primary-input"
      id="password"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
  </div>
  <div>
    <!-- <label class="headline-xs" for="confirm-password">Confirm Password</label> -->
    <input
      class="primary-input"
      id="confirm-password"
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
  </div>
  <button class="primary-button" type="submit">Sign Up</button>
</form>
