.footer
    &-container
        align-items: center
        background-color: white
        border-top: 1px solid lightgray
        box-sizing: border-box
        display: flex
        gap: $spacer-xl
        justify-content: center
        width: 100%
        flex-direction: column-reverse
        height: auto
        padding: $spacer-xl
        @media only screen and (min-width: 640px)
            flex-direction: row
            height: 60px

    &-left
        display: flex
        flex: 1
        gap: 1rem
        justify-content: center
        @media only screen and (min-width: 640px)
            justify-content: flex-start
    &-center
        display: flex
        flex: 2
        gap: 16px
        justify-content: center
        flex-wrap: wrap
    &-right
        display: flex
        flex: 1
        gap: $spacer-lg
        justify-content: flex-end
