// .header
//     &-container
//         align-items: center
//         box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
//         background-color: white
//         border-bottom: 1px solid lightgray
//         display: flex
//         font-size: 0.825rem
//         gap: 32px
//         height: 4.5rem
//         justify-content: center
//         position: fixed
//         top: 0px
//         width: 100%
//         z-index: 20
//         font-size: 0.875rem
//         line-height: 1.25rem
//         font-weight: 500
//         padding: 0px 24px
//         box-sizing: border-box
//     &-left
//         display: flex
//         flex: 1
//         gap: 16px
//         justify-content: flex-start
//     &-center
//         display: none
//         flex: 2
//         gap: 16px
//         justify-content: center
//         @media only screen and (min-width: 640px)
//             display: flex
//     &-right
//         align-items: center
//         display: flex
//         flex: 1
//         gap: 8px
//         justify-content: flex-end
.header
    &-container
        background: white
        display: flex
        align-items: center
        box-shadow: $shadow-md
        background-color: $color-white
        border-bottom: 1px solid $color-neutral-100
        display: flex
        height: 4.5rem
        justify-content: center
        position: fixed
        top: 0px
        width: 100%
        z-index: 20
        padding: 0px $spacer-xl
    &-left
        &-container
            display: flex
            align-items: center
            justify-content: flex-start
            flex: 1
            gap: $spacer-xl
    &-right
        &-container
            display: flex
            justify-content: flex-end
            align-items: center
            flex: 1
            gap: $spacer-xl
    &-logo
        &-text
            color: $color-primary-500
            font-size: 1.6rem
            font-weight: 600
        &-container

    &-link
        color: $color-neutral-600
        transition-duration: 0.2s
        &:hover
            color: $color-primary-600

        &-group
            display: flex
            justify-content: center
            gap: $spacer-xl
            font-size: 0.9rem
    &-auth-button
        &-container
        &-group

    &-control
        &-button
            background: $color-neutral-200
            border: none
            height: 2.5rem
            width: 2.5rem
            border-radius: 100%
            display: flex
            align-items: center
            justify-content: center
            font-size: 1rem
            transition-duration: 0.2s
            &:hover
                background: $color-neutral-300
        &-group
            display: flex
            gap: $spacer-lg
