<p>Sign Up</p>
<form
  (ngSubmit)="onSubmit()"
  class="auth-form-container"
  [formGroup]="signUpForm"
>
  <input
    id="email"
    class="auth-form-input"
    name="email"
    placeholder="Email Address"
    type="email"
    formControlName="email"
  />

  <div
    *ngIf="(submitted && email?.invalid) || (email?.touched && email?.invalid)"
    class="auth-form-error-text"
  >
    <div *ngIf="email?.errors?.['required']">Email is required.</div>
    <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
  </div>

  <input
    id="firstName"
    class="auth-form-input"
    name="confirmPassword"
    placeholder="firstName"
    type="text"
    formControlName="firstName"
  />
  <div
    *ngIf="
      (submitted && firstName?.invalid) ||
      (firstName?.touched && firstName?.invalid)
    "
    class="auth-form-error-text"
  >
    <div *ngIf="firstName?.errors?.['required']">firstName is required.</div>
    <div *ngIf="firstName?.errors?.['minlength']">
      firstName must be at least 8 characters long.
    </div>
  </div>

  <input
    id="lastName"
    class="auth-form-input"
    name="lastName"
    placeholder="lastName"
    type="text"
    formControlName="lastName"
  />
  <div
    *ngIf="
      (submitted && lastName?.invalid) ||
      (lastName?.touched && lastName?.invalid)
    "
    class="auth-form-error-text"
  >
    <div *ngIf="lastName?.errors?.['required']">lastName is required.</div>
    <div *ngIf="lastName?.errors?.['minlength']">
      lastName must be at least 8 characters long.
    </div>
  </div>

  <input type="checkbox" id="termsAccepted" formControlName="termsAccepted" />

  <div
    *ngIf="
      (submitted && termsAccepted?.invalid) ||
      (termsAccepted?.touched && termsAccepted?.invalid)
    "
    class="auth-form-error-text"
  >
    <div *ngIf="termsAccepted?.errors?.['required']">
      Terms must be accepted.
    </div>
  </div>

  <button type="submit" class="auth-form-button" [disabled]="loading">
    {{ loading ? "Loading" : "Sign Up" }}
  </button>

  <a routerLink="/auth/login">Login</a>
</form>
