<p>Organise An Event</p>
<p>To go further please select an organisation to continue.</p>
<p>You currently have no organisations.</p>

<div>
  <img
    class="organisation-logo"
    src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F541848569%2F42053022886%2F1%2Foriginal.20230623-163146?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C82%2C1920%2C960&s=99553105e455168c45a4d6afd3bd776f"
  />
  <p>North Edinburgh Arts</p>
  <button (click)="navigateToLink('/events/create-event')">
    Select Company
  </button>
</div>

<button>Create An Organisation</button>
<p>Create An Organisation</p>

<form>
  <input type="file" />

  <p>Cover Image</p>
  <input type="file" />
  <p>Logo</p>
  <input type="text" placeholder="Name" />
  <input type="" placeholder="Description" />
  <input placeholder="Facebook" />
  <input placeholder="Twitter" />
  <input placeholder="Instagram" />

  <button>Create Organisation</button>
</form>
