<app-account-settings-layout>
  <p>Close Account</p>
  <p>
    Thank you for using Eventbrite Events. If there is anything we can do to
    keep you with us, please let us know. Please take a moment to let us know
    why you are leaving:
  </p>

  <label>
    <input type="checkbox" />
    <p>I chose a different solution</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>I do not host events</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>The product lacks the necessary features</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>The pricing is too high</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>The pricing is confusing</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>The product is too difficult to use</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>I do not recall signing up for Eventbrite</p>
  </label>

  <label>
    <input type="checkbox" />
    <p>Other (Please explain) <input /></p>
  </label>

  <p>
    Please enter "CLOSE" and your password to confirm that you wish to close
    your account
  </p>
  <p>Type "CLOSE":</p>
  <input />
  <p>Enter your password:</p>
  <input />
  <button>Close Account</button>
</app-account-settings-layout>
