<div>
  <p>Login</p>
  <form
    (ngSubmit)="alert()"
    class="primary-form-container"
    [formGroup]="loginForm"
  >
    <input
      id="email"
      class="primary-form-input"
      name="email"
      placeholder="Email Address"
      type="email"
      formControlName="email"
    />

    <div
      *ngIf="
        (submitted && email?.invalid) || (email?.touched && email?.invalid)
      "
      class="auth-form-error-text"
    >
      <div *ngIf="email?.errors?.['required']">Email is required.</div>
      <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
    </div>

    <input
      id="password"
      class="primary-form-input"
      name="password"
      placeholder="Password"
      type="password"
      formControlName="password"
    />

    <div
      *ngIf="
        (submitted && password?.invalid) ||
        (password?.touched && password?.invalid)
      "
      class="auth-form-error-text"
    >
      <div *ngIf="password?.errors?.['required']">Password is required.</div>
      <div *ngIf="password?.errors?.['minlength']">
        Password must be at least 8 characters long.
      </div>
    </div>

    <button class="auth-form-button">Login</button>

    <a routerLink="/auth/sign-up">Sign Up</a>
  </form>
</div>
