<footer class="footer-container">
  <div class="footer-left">
    <p class="text-sm">© {{ currentYear }} {{ companyName }}</p>
  </div>
  <div class="footer-center">
    <div *ngFor="let footerLink of footerLinks">
      <a class="text-sm" routerLink="{{ footerLink.href }}">{{
        footerLink.name
      }}</a>
    </div>
  </div>
  <div class="footer-right">
    <a class="text-xl" target="_blank" href="https://www.facebook.com">
      <fa-icon [icon]="faFacebook"></fa-icon
    ></a>
    <a class="text-xl" target="_blank" href="https://www.instagram.com">
      <fa-icon [icon]="faInstagram"></fa-icon
    ></a>
    <a class="text-xl" target="_blank" href="https://www.twitter.com">
      <fa-icon [icon]="faTwitter"></fa-icon
    ></a>
  </div>
</footer>
